@import "variables.css";

html{
	background-color: var(--black);
	font-family: 'Noto Sans JP', sans-serif;
}


h1{
	color: var(--white);
	font-size: var(--h1);
}

.button{
	background-color: var(--primary-color);
	color:var(--white);
	margin-top: 40px;
	padding: var(--space-2);
	border-radius: var(--radius);
	display:inline;
}

.bot_nitrito{
	font-size: 40px;
}

#respond{
	color: var(--black);
	font-size: var(--h1);
}

#respond_user{
	color: var(--black);
	font-size: var(--h2);
}