@import "variables.css";
*{
	margin:0px;
	padding:0px;
	text-align:center;
	box-sizing:border-box;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

html{
	background-color: var(--black);
	width:100%;
	height:100%;
}


h1{
	color: var(--white);
	font-size: var(--h1);
}

.bot_nitrito{
	font-size: 40px;
}

#respond{
	color: var(--black);
	font-size: var(--h1);
}

#respond_user{
	color: var(--black);
	font-size: var(--h2);
	margin-top: 4px;
	width: 99%;
	height: 80px;
}

#button{
	background: #25D366;	
	color:var(--white); 
	font-size: var(	--button); 	
	cursor:pointer;
	float: center;
	padding: var(--space-2);
	border-radius: var(--radius-button);
	display:inline;	
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
  	position:relative;
  	margin-left: 0px;

}

/*=========FIN NBOT=========*/
header{
		background: #F6F6F6;
		width:100%;
		min-height:60px;
		height:auto;
		position:relative;
		z-index:1;
		padding:0px 30px;
}

section{
	width:100%;
	height:auto;
	min-height:100%;
    background: #F6F6F6;
	z-index:1;
	font-size:14px;
	padding:20px 5px 30px 5px;
}
article{
	width:100%;
	max-width:1500px;
	height:auto;
	display:inline-block;
	margin:0px;
	padding:0px;
	}

	#hijo2{
	height:250px;
	width:100%;
	background-color: var(--blue-primary-color);
	float:left;
	font-weight:bold;
	margin-top: 0px;
	font-size: 20px;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;

}
#hijo2 p{
	font-size:18px;
	color: #FFFFFF;
}

#contenedor{
   width:70%;
   max-width:900px;
   height:auto;
   display:inline-block;
   background: #FFFFFF;
   margin: 0px;
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
   border-radius:22px;
   padding:0px;
}

#contenedor .hijo1{
	color: #707070;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: white;
	   border-radius:22px;
		padding-top:  20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
	height: 400px;
}
#contenedor .hijo2{
	color: #FFFFFF;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	/*height: 250px;*/
	height: auto;
	position: relative;
	margin: 0px;
	padding: 40px 0 40px 0px;
	font-size: 20px;

}
#contenedor .hijo1 .hijo-bloques1 .avatar{
	background-color: white;
	height: 130px;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 10px 10px;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;flex-wrap: wrap;
}

.avatar{
  border-radius: 50%;
  border: 4px solid gray;
}
.especialidad{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;

}	
	/*float: center;
	position: relative;*/
#contenedor .hijo1{
	padding: 5px 0px 0px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;flex-wrap: wrap;

}
#contenedor .hijo1 .hijo-bloques1{
	height: 190px;
	padding:5px 5px 5px 5px;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	background-color: white; 
	border-radius:22px;
	padding-top:  20px;
	padding-left: 30px;
	padding-right: 30px;
}
	#hijo-bloques2{
	height:190px;
	width:100%;
	background:none;
	float:left;
	border-radius:22px;
	padding: 5px 5px 5px 5px;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;

}
#hijo-bloques2 p{
	color: #707070;
	font-size: 18px;
	font-weight:bold;
	}
#boton_whatsapp{
	float: center;
	background: #25D366;
	color: white;
	font-size: 18px;
	width:400px;
	height: 40px;
  	cursor:pointer;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
  	position:relative;
  	margin-left: 0px;
}

#logo-conecta{
	display:inline-block;
	height:50px;
	margin:5px;
	float:left;
}

#menu{
	display:inline-block;
	height:60px;
	margin:10px;
	float:right;
}
	
#volver > img{
	width:40px;
	float:left;
	margin-top:350px;
	width:105px;
	height:35px;
	float:left;
	position:relative;
}

footer{
	width:100%;
	height:600px;
	background: rgb(193,1,255);
	background-image: linear-gradient(to right top, #00001b, #000e21, #001725, #001e27, #002428);
	z-index:1;
	font-size:14px;
	padding:20px 30px;
}

footer a{
	color:#eee;
	font-size:16px;
	text-decoration:none;
}

footer a:hover{
	color:#bbb;
	font-size:16px;
	cursor:pointer;
}

footer b{
	color:#eee;
	font-size:12px;
}

#actividad{
	width:300px;
	height:auto;
	background:#000;
	display:inline-block;
	margin:10px;
}

#actividad img{
	width:100%;
	height:200px;
	float:left;
}

#titulo{
	height:80px; /*64*/
	width:100%;
	background:#f2f2f2;
	float:left;
	font-size:18px;
	color: #3F3F3F;
	font-weight:bold;
	padding:11px 10px;

}
#titulo p{
	color: #3F3F3F;
}
table{
	text-align:center;
	width:100%;
	height:100%;
}

table tr td p{
	text-align:center;
}

#previo{
	width:300px;
	height:280px;
	opacity:0;
	position:absolute;
}

#previo:hover{
	width:300px;
	height:280px;
	background: rgb(193,1,255);
	background-image: linear-gradient(to right top, #00001b, #000e21, #001725, #001e27, #002428);
	opacity:4;
	cursor:pointer;
	font-size:18px;
	padding:20px;
	position:absolute;
	box-shadow:0px 0px 8px #3F3F3F;
	transition: background .7s;
}

#previo hr{
    border: 0;
    height: 1px;
    background: #fff;
}

#previo p{
	text-align:left;
	color: #eee;
}

#a{
	animation: dos 20s infinite linear;
	margin-top:-200px;
}
@keyframes dos{
	0%{
		opacity:1;
	}
	60%{
		opacity:1;
	}
	65%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}

#b{
	animation:tres 10s infinite linear;
	margin-top:-200px;
}
@keyframes tres {
	0%{
		opacity:1;
	}
	30%{
		opacity:1;
	}
	35%{
		opacity:0;
	}
	95%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

#cero{
	margin-top:-200px;
}


/* ------ */

#slider-container {
    height: 100%;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

#slider-box {
    animation: autoSlider 15s infinite linear;
    height: 80%;
    width: 300%;
}

#slider-box img {
    width: 100%;
}

#elemento {
    float: left;
    width: 33.333%;
}

.cristal {
    float: left;
    width: 33.333%;
    height: 10%;
	margin-left:-33.333%;
	}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

}

@media only screen and (max-width: 1366px) and (min-width: 1023px) {

	header h1{
		margin-top:27px;
		font-size:26px;
		display:none;
	}
		
	article > h1 {
		font-size:20px;
		display:inline-block;
		margin:10px 20px;
		color:#555;
		font-weight:bold;
	}
		
	article > p{
		color:#555;
		margin:0px 20px;
		font-weight:normal;
	}

	header{
		background: #F6F6F6;
		width:100%;
		min-height:60px;
		height:auto;
		position:relative;
		z-index:1;
		padding:0px 30px;
	}

	#contenedor .hijo1{
		padding-top:  20px;
		padding-left: 0px;
		padding-right: 0px;
		height: 220px;
}
	#contenedor .hijo1 .hijo-bloques1{
		font-size: 18px;
		float: left;
		color: #707070;
		background-color: white;
		height: 190px;
}
	#contenedor .hijo1 .hijo-bloques2{
		font-size: 18px;
		float: left;
		color: #707070;
		background-color: white;
		height: 190px;
}

	#contenido{
		width:100%;
		height:auto;
		background:#fff;
		display:inline-block;
		padding:0px;
	}

	#contenido h1 {
		color:#000;
		text-align:center;
		padding:20px;
	}
	
	#contenido hr {
		width:80%;
		display:inline-block;
	}

	#contenido hr.unico {
		display:none;
	}
	
	#contenido h1.unico {
		display:none;
	}
	
	#contenido > p {
		color:#000;
		text-align:justify;
		width:100%;
		float:left;
		padding:20px;
	}

	#contenido p.dos{
		color:#000;
		text-align:justify;
		background:#fff;
		width:100%;
		float:left;
		padding:15px;
	}

	#contenido p.dos b{
		color:#000;
		display:inline;
		text-align:center;
	}
 
	#subtitulo{
		width:100%;
		height:auto;
		float:left;
		margin:0px;
		padding:0px 20px;
	}
	
	#subtitulo.unico{
		width:100%;
		height:auto;
		float:left;
		margin:0px 0px -20px 0px;
		padding:0px 20px;
	}
		
article{
	width:100%;
	max-width:1500px;
	height:auto;
	display:inline-block;
	margin:0px;
	padding:0px;
	}

	#volver > img{
	width:40px;
	float:left;
	margin-top:2px;
	}
	
	#volver{
		width:45px;
		height:35px;
		float:left;
		position:relative;
	}
	
	#actividad{
		width:90%;
		max-width:500px;
		height:auto;
		background:#000;
		display:inline-block;
		margin:5px 0px;
	}
			
	#actividad > img{
		display:none;
	}

	#previo{
		width:90%;
		max-width:500px;
		height:80px;
		opacity:0;
	}

	#previo:hover{
		width:90%;
		max-width:500px;
		height:80px;
		background:#fff;
		opacity:0.3;
		cursor:pointer;
		font-size:18px;
		padding:29px;
		position:absolute;
		transition: background .2s;
	}

	#previo hr{
		border: 0;
		height: 1px;
		background: #fff;
		display:none;
	}

	#previo > p, #previo > b{
		text-align:justify;
		display:none;
	}

	footer p{
		float:none;
		color:white;
		font-size:14px;
		text-align:center;
	}
	
}

@media only screen and (max-width: 1024px) and (min-width: 768px){

	header h1{
		margin-top:27px;
		font-size:26px;
		display:none;
	}
		
	article > h1 {
		font-size:20px;
		display:inline-block;
		margin:10px 20px;
		color:#555;
		font-weight:bold;
	}
		
	article > p{
		color:#555;
		margin:0px 20px;
		font-weight:normal;
	}

	header{
		background: #F6F6F6;
		width:100%;
		min-height:60px;
		height:auto;
		position:relative;
		z-index:1;
		padding:0px 30px;
	}
	   #contenedor{
	   background: #F6F6F6;
	   width:auto;
	   height:auto;
	   margin-top: 20px;
	   margin-left: 70px;
	   margin-right: 70px;
	   margin-bottom: 30px;
	   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
	   border-radius:22px;
	   background-color:white;
	   padding:9px;
}
	#contenedor .hijo1{
		padding-top:  20px;
		padding-left: 0px;
		padding-right: 0px;
		height: 420px;
}

	#contenedor .hijo1 .hijo-bloques1{
		height: 130px;
	    padding:5px 5px 5px 5px;
}
	#contenedor .hijo1 .hijo-bloques1 .avatar{
		background-color: white;
		height: 100px;
		padding: 0px 0px 0px 0px;
		margin: 10px 10px 10px 10px;
		position: relative;
}
	#contenedor .hijo1 .hijo-bloques2{
		font-size: 18px;
		float: left;
		color: #707070;
		background-color: white;
		height: 190px;
}

	#contenido{
		width:100%;
		height:auto;
		background:#fff;
		display:inline-block;
		padding:0px;
	}

	#contenido h1 {
		color:#000;
		text-align:center;
		padding:20px;
	}
	
	#contenido hr {
		width:80%;
		display:inline-block;
	}

	#contenido hr.unico {
		display:none;
	}
	
	#contenido h1.unico {
		display:none;
	}
	
	#contenido > p {
		color:#000;
		text-align:justify;
		width:100%;
		float:left;
		padding:20px;
	}

	#contenido p.dos{
		color:#000;
		text-align:justify;
		background:#fff;
		width:100%;
		float:left;
		padding:15px;
	}

	#contenido p.dos b{
		color:#000;
		display:inline;
		text-align:center;
	}
 
	#subtitulo{
		width:100%;
		height:auto;
		float:left;
		margin:0px;
		padding:0px 20px;
	}
	
	#subtitulo.unico{
		width:100%;
		height:auto;
		float:left;
		margin:0px 0px -20px 0px;
		padding:0px 20px;
	}
		
article{
	width:100%;
	max-width:1500px;
	height:auto;
	display:inline-block;
	margin:0px;
	padding:0px;
	}

	#volver > img{
	width:40px;
	float:left;
	margin-top:2px;
	}
	
	#volver{
		width:45px;
		height:35px;
		float:left;
		position:relative;
	}
	
	#actividad{
		width:90%;
		max-width:500px;
		height:auto;
		background:#000;
		display:inline-block;
		margin:5px 0px;
	}
			
	#actividad > img{
		display:none;
	}

	#previo{
		width:90%;
		max-width:500px;
		height:80px;
		opacity:0;
	}

	#previo:hover{
		width:90%;
		max-width:500px;
		height:80px;
		background:#fff;
		opacity:0.3;
		cursor:pointer;
		font-size:18px;
		padding:29px;
		position:absolute;
		transition: background .2s;
	}

	#previo hr{
		border: 0;
		height: 1px;
		background: #fff;
		display:none;
	}

	#previo > p, #previo > b{
		text-align:justify;
		display:none;
	}

	footer p{
		float:none;
		color:white;
		font-size:14px;
		text-align:center;
	}
	
}

@media only screen and (max-width: 767px) and (min-width: 320px){
 
	header h1{
		margin-top:27px;
		font-size:26px;
		display:none;
	}
	article{
	width:100%;
	max-width:1500px;
	height:auto;
	display:inline-block;
	margin:0px;
	padding:0px;
	}	
	article > h1 {
		font-size:20px;
		display:inline-block;
		margin:10px 20px;
		color:#555;
		font-weight:bold;
	}
		
	article > p{
		color:#555;
		margin:0px 20px;
		font-weight:normal;
	}

	header{
		background: #F6F6F6;
		width:100%;
		min-height:60px;
		height:auto;
		position:relative;
		z-index:1;
		padding:0px 30px;
	}
#contenedor{
	   width:auto;
	   max-width: 90%;
	   height:auto;
	   background: #F6F6F6;
	   margin-left: auto;
	   margin-right: auto;
	   margin-top: 0px;
	   margin-bottom: 30px;
	   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
	   border-radius:22px;
	   background-color:white;
	   padding:0px;
}
	#contenedor .hijo1{
		padding: 5px 0px 0px 0px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
}


table .hijo2{
		width: 100%; 
		margin: 30px 0px 30px 0px;
		padding: 10px 10px 10px 10px;
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
}

footer{
	padding: 2px;
}

	footer p{
		float:none;
		color:white;
		font-size:14px;
		text-align:center;
	}

